<app-header></app-header>

<main role="main" class="content-wrapper">

  <section class="fdb-block" style="background-image: url(./assets/images/bg_4.svg)" data-block-type="forms" data-id="6"
    draggable="true">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left box-center">
          <div class="fdb-box fdb-touch">

            <div class="panel" *ngIf="!emailLogin">
              <div class="col-12 m-auto text-center">
                <div class="pb-5 pt-5 pl-4 pr-4">
                  <h2 class="font-weight-light">Login Options</h2>
                  <hr/>

                  <p class="text-center pt-4">
                    <button (click)="socialSignIn('google')" class="btn btn-round btn-danger btn-shadow"><fa class="with-icon" name="google"></fa> Google</button>
                  </p>

                  <p class="text-center pt-4">
                    <button (click)="socialSignIn('facebook')" class="btn btn-round btn-shadow"><fa class="with-icon" name="facebook-f"></fa> Facebook</button>
                  </p>

                  <!-- <p class="text-center pt-4">
                    <button (click)="socialSignIn('linkedin')" class="btn btn-round btn-success btn-shadow"><fa class="with-icon" name="linkedin"></fa> Linkedin</button>
                  </p> -->
                  <br/>
                  Or

                  <p class="text-center pt-4">
                    <button (click)="emailLogin = true" class="btn btn-round btn-white btn-shadow"><fa class="with-icon" name="at"></fa> Email</button>
                  </p>
                </div>
              </div>
            </div>

            <div class="panel" [hidden]="!emailLogin">
              <button class="btn btn-white btn-shadow" (click)="emailLogin = false"><fa name="arrow-left"></fa></button>
              <ul class="panel__menu" id="menu">
                <li id="signUp" class="active"><a href="#" (click)="onClickSignUp($event)">Join</a></li>
                <li id="signIn"> <a href="#" (click)="onClickSignIn($event)">Login</a></li>
              </ul>

              <div class="panel__wrap">
                <div class="panel__box inactive" id="signInBox">
                  <form name="signInForm" (ngSubmit)="f.form.valid && signInSubmit()" #f="ngForm" novalidate>
                    <div class="row">
                      <div class="col mt-4">
                        <input type="text" class="form-control" placeholder="Email" name="email" id="email" [(ngModel)]="user.email"
                          #email="ngModel" pattern="^[\w-]+(?:\.[\w-]+)*@(?:[a-zA-Z0-9]+\.)+[a-zA-Z]{2,7}$" maxlength=100
                          required>
                        <show-errors [f]="f" [control]="email"></show-errors>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                          [(ngModel)]="user.password" #password="ngModel" maxlength=100 required>
                        <show-errors [f]="f" [control]="password"></show-errors>
                      </div>
                    </div>
                    <a routerLink="/forgot-password" class="pull-right mt-4 forgot-password">Forgot Password?</a>
                    <div class="row mt-4 pull-right">
                      <div class="col">
                        <button class="btn btn-shadow btn-white mr-2 mb-2" type="reset">Reset</button>
                        <button class="btn btn-shadow mb-2" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="panel__box active" id="signUpBox">
                  <div class="row">
                    <div class="col mt-4">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mt-4">
                      <input type="text" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <input type="password" class="form-control" placeholder="Password">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <input type="password" class="form-control" placeholder="Re-Enter Password">
                    </div>
                  </div>
                  <div class="row mt-4 pull-right">
                    <div class="col">
                      <button class="btn btn-shadow btn-white mr-2 mb-2" type="reset">Reset</button>
                      <button class="btn btn-shadow mb-2" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>
