<header data-block-type="headers" data-id="1">
  <div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
      <div class="col-3 text-left">
        <a href="/home">
          <img src="../../../../assets/images/logo.png" height="40" alt="image">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-2" aria-controls="navbarNav7"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-collapse-2 justify-content-center col-md-6" id="navbarNav7">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home"><fa name="home"></fa>
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/features"><fa name="handshake-o"></fa>
              Features</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact"><fa name="envelope"></fa>
              Contact</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse navbar-collapse-2" *ngIf="!user">
        <a class="btn btn-shadow login-btn" routerLink="/register">Join Us</a>
      </div>

      <div *ngIf="user">
        <img src="{{ user.photoUrl }}" height="30px"> {{ user.name }}
      </div>
    </nav>
  </div>
</header>
